@charset "UTF-8";


body {
		font-family: "游ゴシック体", "Yu Gothic", YuGothic, helvetica,arial,"ヒラギノ角ゴ Pro W5","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
		text-align: center;
		color: #555;
		background: #f4f4f4;
		margin: 0;
		padding: 0;
	}

	h1 {
		margin: 60px 0 20px 0 ;
		font-family:HelveticaNeue-UltraLight;
		font-weight: normal;
		font-size: 80px;
	}

	h2 {
		margin: 80px 0 30px 0;
		position: relative;
		letter-spacing: 1px;
	}

	h2.t {
		margin: 140px 0 30px 0;
	}

	h2:before {
		content: "";
		background-color: #000;
		width: 70px;
		height: 1px;
		display: block;
		position: absolute;
		margin: 0 0 0 -35px;
		top: -30px;
		left: 50%;
	}

	h3 {
		margin: 50px 0 30px 0;
		padding: 0;
		display: inline-block;
		line-height: 1em;
		background:linear-gradient(transparent 50%, #d2ff00 50%);
		letter-spacing: 1px;
	}

	h2 + h3 {
		margin: 0px 0 30px 0;
	}

	p {
		margin: 0;
	}

	span.notation {
		font-size: 14px;
	}


	table {
		text-align: left;
		margin: 0 auto;
		width: 100%;
		background: #d7d7d7;
		border-collapse:separate;
		border-spacing:1px;
	}

	th {
		width: 60px;
		padding: 20px;
		background: #f4f4f4;
	}

	td {
		background: #f4f4f4;
		padding: 20px;
	}

	table span {
		font-size: 12px;
	}

	footer {
		margin: 80px 0;
		padding: 80px 0 0 0;
		border-top: 1px dotted #000;
	}

	a {
		color: #001eff;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.youtube {
		position: relative;
		width: 100%;
		padding-top: 56.25%;
	}

	.youtube iframe {
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
  		height: 100% !important;
	}

	ul.material {
		padding: 0;
	}

	.material li {
		display: inline-block;
	}

	.material li a {
		margin: 0 10px;
		padding: 10px 20px;
		border: 1px solid #001eff;
	}

	.material li a:hover {
		text-decoration: none;
		background: #fff;
	}

	@media (min-width: 800px) {
		.wrapper {
			width: 800px;
			margin: 0 auto;
		}
		.sp {
			display: none;
		}
	}

	@media (max-width: 640px) {
		body {
			padding: 0 4%;
		}
		.sp{
			display: block;
		}
		h1 {
			margin: 40px 0 10px 0 ;
			font-family:HelveticaNeue-UltraLight;
			font-weight: normal;
			font-size: 80px;
		}
		.copy {
			font-size: 12px;
		}
		table {
			font-size: 14px;
		}
		th {
			width: 50px;
		}
		h2 span {
			font-size: 16px;
		}
		.material li {
			display: block;
		}
		.material li a{
			display: block;
			padding: 0;
			margin: 0 0 10px 0;
			padding: 20px;
			border: 1px solid #001eff;
		}
	}
